&.home {
  .header {
    margin-bottom: 25px;
  }

  .stats {
    margin-bottom: 35px;

    &,
    .stat-card-header {
      @apply flex items-center;
    }

    .stat-card {
      @apply flex-1;
      background-color: -color(surface);
      padding: 15px;
      border-radius: 15px;

      &:not(:last-child) {
        margin-right: 15px;
      }

      .stat-card-header {
        margin-bottom: 25px;
        .icon {
          margin-right: 5px;
          height: 20px;
          width: 20px;
        }
      }

      h1 {
        font-size: -var(header-fs);
        font-weight: bold;
      }
    }
  }
}
