$sidebar-padding-h: 25px;
$sidebar-nav-link-height: 55px;
$sidebar-nav-link-space-between: 10px;
$sidebar-avatar-size: 40px;
$sidebar-item-count: 5;
$sidebar-indicator-transition: top 0.2s ease-in;

$titlebar-size: 65px;
$titlebar-item-size: 48px;

#Dashboard {
  height: 100vh;
  @apply flex overflow-hidden;

  .sidebar,
  .body {
    @apply h-full;

    .titlebar {
      height: $titlebar-size;
      margin-bottom: 10px;
      @apply flex items-center;
    }
  }

  .sidebar {
    width: 22%;
    padding: 0 0 25px;
    background-color: -color(background);
    border-right: 1px solid -color(outline, 0.35);

    .titlebar {
      padding: 0 $sidebar-padding-h;
    }

    .nav {
      @apply flex-1 m-0 relative;

      .nav-indicator,
      .nav-item .nav-item-content {
        height: $sidebar-nav-link-height;
      }

      .nav-indicator {
        width: 4px;
        transition: $sidebar-indicator-transition;

        &,
        &::before {
          @apply absolute top-0 left-0;
        }

        &::before {
          content: "";
          height: 50%;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 0 15px 15px 0;
          background-color: -color(primary);
        }
      }

      .nav-item {
        padding: 0 $sidebar-padding-h;
        @apply flex flex-col items-start;

        &-content {
          transition: 0.3s;
          border-radius: 50px;
          padding: 0 5px;
          @apply flex flex-row items-center;

          svg {
            height: 20px;
            width: 20px;
            margin-right: 12px;

            path {
              stroke: -color(on-background);
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: $sidebar-nav-link-space-between;
        }

        &:hover,
        &.router-link-exact-active,
        &.router-link-exact-active.router-link-active {
          font-weight: 600;

          .nav-item-content {
            transition: 0.3s;
            background-color: -color(surface);
            padding: 0 25px;
          }
        }

        &:hover {
          color: -color(on-surface);
          svg path {
            stroke: -color(on-surface);
          }
        }

        &.router-link-exact-active,
        &.router-link-active.router-link-exact-active {
          color: -color(primary);
          svg path {
            stroke: -color(primary);
          }

          @for $i from 0 through $sidebar-item-count {
            &:nth-child(#{$i}) ~ .nav-indicator {
              top: ($sidebar-nav-link-height * ($i - 1)) +
                ($sidebar-nav-link-space-between * ($i - 1)) !important;
              transition: $sidebar-indicator-transition;
              &::before {
                background-color: -color("primary");
              }
            }
          }
        }
      }
    }

    .footer {
      margin: 0 $sidebar-padding-h;

      button,
      .profile {
        background-color: -color(surface);
        border-radius: 25px;
        @apply flex items-center;
      }

      .profile {
        padding: 5px;
        padding-right: 15px;
        @apply self-start;

        #UserAvatar {
          height: $sidebar-avatar-size;
          width: $sidebar-avatar-size;
        }

        .infos {
          margin-left: 8px;
          @apply flex-1;

          .full_name {
            font-weight: 600;
            color: -color(on-surface);
          }

          .s-info {
            font-size: -var(small-fs);
          }
        }
      }

      button {
        height: $sidebar-avatar-size + 5px;
        width: $sidebar-avatar-size + 5px;
        @apply justify-center;

        svg {
          height: 18px;
          width: 18px;
          path {
            stroke: -color(on-background);
          }
        }
      }
    }
  }

  .body {
    @apply flex-1;

    .titlebar,
    .dashboard-page {
      padding: 0 2%;
    }

    .titlebar {
      .dashboard-page-title {
        font-size: -var(title-fs);
        font-weight: 600;
        color: -color(on-surface);
      }

      .options,
      .avatar {
        border-radius: 50px;
      }

      .search-bar,
      .options {
        height: $titlebar-item-size;
      }

      .options {
        padding: 0 15px;
        border: 2px solid -color(surface);

        &,
        .option {
          @apply flex items-center;
        }

        .option-dev {
          height: math.div($titlebar-item-size, 3);
          width: 2px;
          background-color: -color(outline);
          margin: 0 15px;
        }

        .option {
          .icon {
            height: 16px;
            width: 16px;
            margin-right: 5px;
          }
        }
      }

      .avatar {
        height: $titlebar-item-size - 5px;
        width: $titlebar-item-size - 5px;
        margin-left: 10px;

        .verified_badge {
          top: 5px;
          left: auto;
          right: -5px;
        }
      }
    }

    .dashboard-page {
      .dashboard-page-title {
        font-size: 45px;
        font-weight: 600;
        color: -color(on-surface);
      }

      .button,
      .search-bar {
        height: -var(dashboard-button-size);
        padding: 0 20px;
      }

      @import "./home_page.scss";
      @import "./medias_page.scss";
    }
  }
}
