.dialog {
  .dialog-content {
    .dialog-panel {
      padding: 15px;
      border-radius: 20px;
      background-color: -color(background);

      &.side-dialog-panel {
        border-radius: 0 !important;
        height: 100vh;
      }
    }
  }

  .dialog-overlay {
    &.blur {
      backdrop-filter: blur(0.5px) grayscale(0.25);
    }
  }
}
