.tabs {
  .tab-active-indicator {
    @apply absolute top-0 left-0;
    height: 3px;
    width: 50px;
    background-color: -color(primary);
    content: "";
    border-radius: 0 0 8px 8px;
  }

  .tab {
    @apply flex items-center justify-start h-full;
    height: -var(dashboard-button-size);
    transition: 0.3s;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &:hover,
    &.tab-active {
      transition: 0.3s;
      font-weight: bold;
    }

    &:hover {
      color: -color(on-surface);
    }

    &.tab-active {
      color: -color(primary);
    }
  }
}
