@import "https://fonts.cdnfonts.com/css/space-grotesk";
@import "https://fonts.googleapis.com/css?family=Inter";

@import "./app.colors";
@import "./app.vars";
@import "./utils/functions";
@import "./components/index";

html,
body {
  height: 100%;
  overflow: hidden !important;

  &,
  & > * {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: -var(body-fs);
  font-weight: normal;
  font-style: normal;
  color: -color(on-background);
  background-color: -color(background);
  margin: 0;
  padding: 0;

  ::selection {
    color: -color(light);
    background: -color(primary, 0.4) !important;
  }

  .disable-selection {
    user-select: none !important;
  }

  button,
  .button {
    background-color: -color(primary, 0.25);

    &.button--primary {
      background: -color(color);
      color: -color(light);
      transition: ease 0.3s;

      &:hover,
      &.active {
        box-shadow: -shadow(primary);
        transform: translateY(-3px);
        transition: ease 0.3s;
      }
    }

    &.button--flat {
      background: -color(background);
    }

    &.button--surface {
      background-color: -color(surface);
    }
  }

  p {
    margin: 0;
  }

  input {
    &:focus {
      border: none;
      outline: none;
    }
  }

  svg.icon {
    path {
      stroke: -color(on-background);
    }
  }
}

@import "./views/index";
